<div class="design-download">
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.csd">csd</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.dst">dst</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.edr">edr</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.exp">exp</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.hus">hus</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.jef">jef</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.pcs">pcs</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.pes">pes</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.sew">sew</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.vip">vip</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.vp3">vp3</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.xxx">xxx</a>
</div>