<div class="design-download">
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.csd" class="link-freebie">csd</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.dst" class="link-freebie">dst</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.edr" class="link-freebie">edr</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.exp" class="link-freebie">exp</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.hus" class="link-freebie">hus</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.jef" class="link-freebie">jef</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.pcs" class="link-freebie">pcs</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.pes" class="link-freebie">pes</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.sew" class="link-freebie">sew</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.vip" class="link-freebie">vip</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.vp3" class="link-freebie">vp3</a>
  <a href="{{ site.baseurl }}/assets{{ include.dir }}/{{ include.filename }}.xxx" class="link-freebie">xxx</a>
</div>