<footer class="site-footer">

	<div class="wrapper">

    <h2 class="footer-heading"><a href="{{ site.landing_url }}" class="link-landing">MyEmbroids</a> • Online embroidery design organizer</h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>
            <a class="legal" href="https://www.bitdroid.de/legal-notice.html#impressum">Imprint</a>
            &bull;
            <a class="legal" href="https://www.bitdroid.de/legal-notice.html#datenschutz">Data protection</a>
          </li>
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

					{% if site.twitter_username %}
					<li>
						{% include icon-twitter.html username=site.twitter_username %}
					</li>
					{% endif %}
				</ul>
			</div>

			<div class="footer-col footer-col-3">
				<p>{{ site.description }}</p>
			</div>
		</div>

	</div>

</footer>
