<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>

	{% include footer.html %}

</body>

<script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = 'EMAIL';
    ftypes[0] = 'email';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);
</script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    // subscribe goal
    var element = document.getElementById('mc-embedded-subscribe-form');
    if (!element) return;
    element.onsubmit = function () {
      var className = document.getElementById('mce-EMAIL').className;
      if (className.indexOf('mce_inline_error') >= 0) return;
    };
  });
</script>

<script type="text/javascript">
  emojify.setConfig({
    img_dir: '/assets/imgs/emoji',
    ignore_emoticons: true,
    blacklist: {
      elements: ['script', 'textarea', '^a$', 'pre', 'code'],
      classes: ['no-emojify'],
    },
  });
  emojify.run();
</script>

</html>
