---
layout: default
---

<header class="post-header">
	<div>
		<span>Posted on </span><span class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</span>
	</div>

	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
</header>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="entry-content" itemprop="articleBody">
		{{ content }}
	</div>
  {% include share-page.html %}
</article>

<div class="signup-box">
  <div class="inner">
    <h3>
		Do you want to get organized?</h3>
    <p>
	 <a href="{{ site.landing_url }}" target="_blank" class="link-landing">MyEmbroids</a> is a desktop application which let's you view designs on
	  your computer without having to open each file individually. Just download the app and get organized :)
    <p>
    <div class="text-center">
		<a class="button primary" href="{{ site.landing_url }}">More info</a>
    </div>
  </div>
</div>

<div id="post-nav">
	<div class="next">
		{% if page.next.url %}
		<a href="{{ site.baseurl }}{{ page.next.url }}">
			<span>Next entry</span>
			{{ page.next.title }}
		</a>
		{% endif %}
	</div>

	<div class="previous">
		{% if page.previous.url %}
		<a href="{{ site.baseurl }}{{ page.previous.url }}">
			<span>Previous entry</span>
			{{ page.previous.title }}
		</a>
		{% endif %}
	</div>
</div>
