---
layout: default
---

<header class="post-header">
	<div>
		<span>Posted on </span><span class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</span>
	</div>

	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
</header>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="entry-content" itemprop="articleBody">
		{{ content }}
	</div>
</article>

<div class="signup-box">
  <div class="inner">
    <h3>Do you want to get organized?</h3>
    <p>
      Then sign up to be one of the first
      to get access to MyEmbroids! In addition to being the first in line, you can upload your
      first 20.000 designs for free, just because you are awesome!
    </p>
    <div class="text-center">
      <form
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          action="https://myembroids.us15.list-manage.com/subscribe/post?u=b104db50100dcd7d69788c87c&amp;id=c6529886fd"
          method="post"
          class="validate"
          target="_blank"
          novalidate
      >
        <div class="mc-field-group">
          <input type="email" name="EMAIL" placeholder="Your email address" class="required email" id="mce-EMAIL">
        </div>
        <div class="mce-responses clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_b104db50100dcd7d69788c87c_c6529886fd" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Get on the list" name="subscribe" id="mc-embedded-subscribe" class="button primary">
          <p class="hint">We will never send you spam, promised! :)</p>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="post-nav">
	<div class="next">
		{% if page.next.url %}
		<a href="{{ site.baseurl }}{{ page.next.url }}">
			<span>Next entry</span>
			{{ page.next.title }}
		</a>
		{% endif %}
	</div>

	<div class="previous">
		{% if page.previous.url %}
		<a href="{{ site.baseurl }}{{ page.previous.url }}">
			<span>Previous entry</span>
			{{ page.previous.title }}
		</a>
		{% endif %}
	</div>
</div>
